.home-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}
.cv-image {
  height: 150px;
  width: 150px;
  object-fit: fill;
  border-radius: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  border: 1px solid #eee;
}
.my-name {
  font-size: 20px;
  font-weight: 700;
}
/* home.css */
.career-intro {
  font-size: 12px;
  word-spacing: 1px;
  color: #555; /* Dark Gray */
  font-weight: 800;
}
.career-intro::after {
  content: ""; /* Insertion point character */
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background: orange;
  font-size: 1.5em;
  margin-left: 4px;
  vertical-align: middle;
  animation: loading 3s infinite;
}

@keyframes loading {
  0% {
    transform: scale(0.4);
  }
  50% {
    transform: scale(0.6);
  }
  100% {
    transform: scale(1);
  }
}

.social-media {
  display: flex;
  gap: 1rem;
}
.social-media > small:hover {
  color: red;
  cursor: pointer;
}

.contactMe {
  cursor: pointer;
  height: fit-content;
  width: fit-content;
  padding: 0.5rem;
  background-color: #faceda;
  border-radius: 10px;
}
.contactMe:hover {
  background-color: green;
  transition: all 0.3s ease;
}
