.header-container {
  background-color: #00bfff; /* Deep Sky Blue */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.links-container-darkMode {
  color: white;
}
.dark-mode {
  color: lightblue;
  animation: darkMode 2s infinite;
}
@keyframes darkMode {
  0% {
    transform: scale(0.3);
  }
  50% {
    transform: scale(0.6);
  }
  100% {
    transform: scale(1);
  }
}
.links-container-no-darkMode {
  color: #00bfff;
}
.right-links {
  float: right;
  display: flex;
  gap: 1rem;
}
.no-decoration {
  text-decoration: none;
  color: white;
}
.no-decoration:hover {
  color: red;
}
.dark-mode {
  cursor: pointer;
  font-size: 18px;
  background: none;
  border: none;
}
